# Assignment 1

You are given the following int variable _x1_

In [1]:
x1 = 3286
x1

3286

**1**- Complete the code below to transform _x1_ into a string *x1_str*. Extract the four digits and compute *x1_reverse* by taking the digits of _x1_ backward. *x1_reverse* should be an **integer** equal to 6823

In [2]:
x1_str = str(x1) # your code here
digit_1 = x1_str[0]# your code here
digit_2 = x1_str[1]  # your code here
digit_3 = x1_str[2]  # your code here
digit_4 = x1_str[3]  # your code here

x1_reverse = int(digit_4) * 1000 + int(digit_3) * 100 + int(digit_2) * 10 + int(digit_1)       # your code here

print("first digit = %s, second = %s, third = %s, fourth = %s" % (digit_1, digit_2, digit_3, digit_4))
print("the reverse number of x1 =", x1_reverse)

first digit = 3, second = 2, third = 8, fourth = 6
the reverse number of x1 = 6823

**2**- Write a function that takes as input a number with any given length and returns its reversed one.     
For example: `reverse_number(274) = 472, reverse_number(15739) = 93751`.   
**Hint** You can use negative indexing. For example: `"ABCD"[-1] = D`

In [3]:
def reverse_number(x):
    # your code here
    ret = 0
    x_str = str(x)
    for i in range(len(x_str)):
        ret += int(x_str[i]) * 10**i
    return ret
print(reverse_number(274))
print(reverse_number(15739))

472
93751

A **palindromic** number or numeral palindrome is a number that remains the same when its digits are reversed, like 16461. See [wikipedia](https://en.wikipedia.org/wiki/Palindromic_number)      
**3**- Write a function that returns _True_ when a number is palindromic and _False_ when not

In [4]:
def is_palindromic(x):    
    # your code here
    if x == reverse_number(x):
        return True
    return False

is_palindromic(16461)

True

**4**- Create a dictionary containing two keys:
* number: numbers between 10 and 99
* palindromic ?: a Boolean whether or not the number is palindromic or not

It should look like this: `dic = {'number': [10,11,12 ...], 'palindromic ?':[False,True,False,....]}`

In [5]:
dic = {'number': [i for i in range(10, 100)], 'palindromic ?':[is_palindromic(i) for i in range(10, 100)]}# your code here

**5**- Create a dataframe _df_ from _dic_ and print the head of _df_, its shape, and the data type of each column

In [6]:
# your code here
import pandas as pd
import numpy as np

df = pd.DataFrame(dic)

# head of df
# your code here
print(df.head())

   number  palindromic ?
0      10          False
1      11           True
2      12          False
3      13          False
4      14          False

In [7]:
# shape of df
# your code here
print(df.shape)

(90, 2)

In [8]:
# data type of each column
# your code here
print(df.dtypes)

number           int64
palindromic ?     bool
dtype: object

**6 - How many palindromic numbers are there in _df_. Hint**: Booleans are considered as 0, 1. For example: `sum([True, False, True]) = 2`.   
Filter _df_ to print only rows with palindromic numbers.

In [9]:
# your code here
print(sum(df["palindromic ?"]))
print(df[df["palindromic ?"] == True])

9
    number  palindromic ?
1       11           True
12      22           True
23      33           True
34      44           True
45      55           True
56      66           True
67      77           True
78      88           True
89      99           True

A [nontrivial reverse number](https://en.wikipedia.org/wiki/Reverse_divisible_number) is a either 1/4 or 1/9 of its reversal.     
For example: 1089 Ã— 9 = 9801, the reversal of 1089.    
**7**- Write a function that checks whether a number is a nontrivial reverse number. The response for the following three tests should be `True`, `False`, `False`.     
Use your function to identify all the nontrivial reverse numbers that are below 100 000. **Hint**: there are four

In [10]:
def is_nontrivial_reverse_number(x):
    # your code here
    reverse = reverse_number(x)
    if reverse == 9 * x or reverse == 4 * x:
        return True
    return False

print(is_nontrivial_reverse_number(1089))
print(is_nontrivial_reverse_number(2000))
print(is_nontrivial_reverse_number(7887))

True
False
False

In [11]:
# nontrivial reverse numbers below 100 000
# your code here
for i in range(1, 100000):
    if is_nontrivial_reverse_number(i):
        print(i)

1089
2178
10989
21978

**8**- Read the csv file _"titanic.csv"_ into a dataframe _titanic_. Print its shape and head

In [12]:
# your code here
titanic = pd.read_csv("titanic.csv")

**9**- Print the names of titanic columns. Remove the column _"Cabin"_ and print again the names of titanic columns

In [13]:
# print column names
# your code here
print(titanic.columns)
# drop the column : "Cabin"
# your code here
titanic = titanic.drop(columns=["Cabin"])
# make sur it is removed by printing again column names
# your code 
print(titanic.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Embarked'],
      dtype='object')

**10**- Print the number of null values for each column. Replace null values in _"Age"_ by the average age, and null values in _"Embarked"_ by the most frequent value _"S"_. Print again the number of null values for each column

In [14]:
# print number of null values for each column
# your code here
def print_num_null_values(titanic):
    for c in titanic.columns:
        print(c, end=" : ")
        print(len(titanic) - titanic[c].count())
        
print_num_null_values(titanic)

PassengerId : 0
Survived : 0
Pclass : 0
Name : 0
Sex : 0
Age : 177
SibSp : 0
Parch : 0
Ticket : 0
Fare : 0
Embarked : 2

In [15]:
# Replace null values
# your code here
titanic.replace({'Age': np.nan}, titanic['Age'].mean(), inplace=True)
titanic.replace({'Embarked': np.nan}, "S", inplace=True)

In [16]:
# print again number of null values for each column
# your code here
print_num_null_values(titanic)

PassengerId : 0
Survived : 0
Pclass : 0
Name : 0
Sex : 0
Age : 0
SibSp : 0
Parch : 0
Ticket : 0
Fare : 0
Embarked : 0