# Assignment 2

In this Assignment, you will explore the **FIFA 19** dataset, which contains detailed attributes for every player registered in the latest edition of FIFA 19 database.    
It was scrapped from this [website](https://sofifa.com/), and you can find the source code [here](https://github.com/amanthedorkknight/fifa18-all-player-statistics/tree/master/2019).

Your goal is to find out how the `Overall` score by player is calculated

There are 2 main parts:

* Data Import & Cleaning, the output of this part is provided in the csv file `Assignment_2_data_cleaned`, **so you do not need to have everything right in this part to do the second one**
* Modeling with the cleaned data

In the notebook, there will be cells in the form `assert condition` like the next one. They are used to check if an answer is correct.  
Execute the next one and you will get no errors

In [1]:
assert 3 < 5

Execute the next one and you will get an error

In [2]:
#assert 3 > 5

# Data Import

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

1.1. Load the csv file `data.csv` into a dataframe called `df` and print its shape. (Set the right parameters when reading the csv file)

In [4]:
# your code here
df = pd.read_csv("Assignment_2_data.csv", header=0, index_col=0)

In [5]:
# check if your answer is correct
assert df.shape == (18207, 88)

1.2. print the head of `df`

In [6]:
# your code here
print(df.head())

       ID               Name  Age  \
0  158023           L. Messi   31
1   20801  Cristiano Ronaldo   33
2  190871          Neymar Jr   26
3  193080             De Gea   27
4  192985       K. De Bruyne   27

                                            Photo Nationality  \
0  https://cdn.sofifa.org/players/4/19/158023.png   Argentina
1   https://cdn.sofifa.org/players/4/19/20801.png    Portugal
2  https://cdn.sofifa.org/players/4/19/190871.png      Brazil
3  https://cdn.sofifa.org/players/4/19/193080.png       Spain
4  https://cdn.sofifa.org/players/4/19/192985.png     Belgium

                                  Flag  Overall  Potential  \
0  https://cdn.sofifa.org/flags/52.png       94         94
1  https://cdn.sofifa.org/flags/38.png       94         94
2  https://cdn.sofifa.org/flags/54.png       92         93
3  https://cdn.sofifa.org/flags/45.png       91         93
4   https://cdn.sofifa.org/flags/7.png       91         92

                  Club                                     Club Logo  \
0         FC Barcelona  https://cdn.sofifa.org/teams/2/light/241.png
1             Juventus   https://cdn.sofifa.org/teams/2/light/45.png
2  Paris Saint-Germain   https://cdn.sofifa.org/teams/2/light/73.png
3    Manchester United   https://cdn.sofifa.org/teams/2/light/11.png
4      Manchester City   https://cdn.sofifa.org/teams/2/light/10.png

       ...       Composure Marking  StandingTackle SlidingTackle  GKDiving  \
0      ...            96.0    33.0            28.0          26.0       6.0
1      ...            95.0    28.0            31.0          23.0       7.0
2      ...            94.0    27.0            24.0          33.0       9.0
3      ...            68.0    15.0            21.0          13.0      90.0
4      ...            88.0    68.0            58.0          51.0      15.0

   GKHandling  GKKicking GKPositioning GKReflexes Release Clause
0        11.0       15.0          14.0        8.0        €226.5M
1        11.0       15.0          14.0       11.0        €127.1M
2         9.0       15.0          15.0       11.0        €228.1M
3        85.0       87.0          88.0       94.0        €138.6M
4        13.0        5.0          10.0       13.0        €196.4M

[5 rows x 88 columns]

1.3. Print how many columns that are in df columns types

In [7]:
# your code here
print(df.shape[1])
print(df.dtypes == 'object')

88
ID                          False
Name                         True
Age                         False
Photo                        True
Nationality                  True
Flag                         True
Overall                     False
Potential                   False
Club                         True
Club Logo                    True
Value                        True
Wage                         True
Special                     False
Preferred Foot               True
International Reputation    False
Weak Foot                   False
Skill Moves                 False
Work Rate                    True
Body Type                    True
Real Face                    True
Position                     True
Jersey Number               False
Joined                       True
Loaned From                  True
Contract Valid Until         True
Height                       True
Weight                       True
LS                           True
ST                           True
RS                           True
                            ...
Dribbling                   False
Curve                       False
FKAccuracy                  False
LongPassing                 False
BallControl                 False
Acceleration                False
SprintSpeed                 False
Agility                     False
Reactions                   False
Balance                     False
ShotPower                   False
Jumping                     False
Stamina                     False
Strength                    False
LongShots                   False
Aggression                  False
Interceptions               False
Positioning                 False
Vision                      False
Penalties                   False
Composure                   False
Marking                     False
StandingTackle              False
SlidingTackle               False
GKDiving                    False
GKHandling                  False
GKKicking                   False
GKPositioning               False
GKReflexes                  False
Release Clause               True
Length: 88, dtype: bool

1.4. `to_drop` is a list containing columns that are not useful for modeling, remove them and print the new shape of `df`

In [8]:
to_drop =['ID', 'Name', 'Photo','Nationality', 'Flag','Club','Club Logo', 'Real Face', 'Joined', 'Loaned From', 'Contract Valid Until']
# your code here
df.drop(labels=to_drop, axis=1, inplace=True)

In [9]:
# check if your answer is correct
assert df.shape == (18207, 77)

# Data Cleaning

## Handling missing values

2.1. Build a dataframe called `missing` which has the following format:

* `pct` is the percentage of missing values, **takes values between `0` and `100`**
* the index is the column names

|     | pct |
|-----|-----|
|......|.....|
|Strength |0.263635|
|.....|.....|

In [10]:
missing = pd.DataFrame(data={"pct": 100 * df.isna().sum() / df.shape[0]}, index=df.columns)
print(missing.head())

           pct
Age        0.0
Overall    0.0
Potential  0.0
Value      0.0
Wage       0.0

2.2. Remove from `missing`, rows with `pct`= 0   
sort `missing` in ascending order of `pct` and print its head

In [11]:
# your code here
missing.drop(labels=missing[missing['pct']==0].index, inplace=True)

2.3. Now, let's fill missing values where the % of missing is lower than 1 (1%).   
First identify these columns in a list named `cols_to_fill`

In [12]:
cols_to_fill = list(missing[missing['pct'] < 1].index)
# your code here
print(len(cols_to_fill), type(cols_to_fill))

44 <class 'list'>

In [13]:
# check if your answer is correct
assert len(cols_to_fill) == 44
assert isinstance(cols_to_fill, list)

In [53]:
"5'7".split("'")

['5', '7']

2.4. define a function (`fill_nas_by_type`) to fill null values by column type:

* if a column type is `Object`, fill it with the **most frequent value**
* otherwise, fill it with the **median value**

In [15]:
def fill_nas_by_type(df, col_name):
    """Fill null values in df according to col_name type
    
    Parameters
    ----------
    df : dataframe, (default=None)
        input dataframe
    col_name : str, (default=None)
        column with null values to fill
        
    Returns
    -------
    df with filled values in col_name
    """
    # your code here
    if df[col_name].dtypes == 'object':
        replacement = df[col_name].value_counts().idxmax()
        
    else:
        replacement = df[col_name].median()
        
    df[col_name] = df[col_name].replace(np.NaN, replacement)
    
    return df

Loop through `cols_to_fill` and apply the defined function `fill_nas_by_type` to fill null values

In [16]:
# your code here
for col_to_fill in cols_to_fill:
    df = fill_nas_by_type(df, col_to_fill)

In [17]:
# check if your answer is correct
assert df[cols_to_fill].isnull().sum().sum() == 0

For the remaining missing values, let's just remove them.    
Print the shape of `df` before and after removing any rows with missing observations

In [45]:
# your code here
print(df.shape)

# Drop the columns of df that match those remaining in missing
df.dropna(how='any', axis=0, inplace=True)
print(df.shape)

(18207, 77)
(14743, 77)

In [46]:
# check if your answer is correct
assert df.shape == (14743, 77); assert df.isnull().sum().sum() == 0

## Correct some columns format

### Monetary columns

In [47]:
money_cols = ['Value','Wage', 'Release Clause']
df[money_cols].head()

     Value   Wage Release Clause
0  €110.5M  €565K        €226.5M
1     €77M  €405K        €127.1M
2  €118.5M  €290K        €228.1M
4    €102M  €355K        €196.4M
5     €93M  €340K        €172.1M

3.1. Build a function which extracts the monetary value from a string. It should return a number with no decimals.   
Your function should pass the three tests in the cell after

In [48]:
def get_value(value_text):
    """Extract the monetary value from a string
    
    Parameters
    ----------
    value_text: str, (default=None)
        a string containing a number ending with M, K or nothing
        
    Returns
    -------
    a float with no decimals
    
    Examples
    --------
    >>> get_value('€7.1K')
    7100.0
    """
    multiplier = value_text[-1]
    if multiplier == 'M':
        number = float(value_text[1:-1])
        return number * 1000000
    elif multiplier == 'K':
        number = float(value_text[1:-1])
        return number * 1000
    else:
        return float(value_text[1:])

In [49]:
# check if your answer is correct
assert get_value('€110.5M') == 110500000; assert get_value('€7.1K') == 7100; assert get_value('€200') == 200

3.2. Loop through `money_cols` and apply the defined function `get_value` to convert them to numeric

In [50]:
for f in money_cols:
    df[f] = df[f].apply(get_value)
    print(f, df[f].dtype, df[f].isnull().sum())

Value float64 0
Wage float64 0
Release Clause float64 0

In [51]:
# check if your answer is correct
assert df[money_cols].isnull().sum().sum() == 0

### Height and Weight columns

4.1. Start by printing the unique values for `Height`

In [52]:
# print unique values for Height
df['Height'].unique()

array(["5'7", "6'2", "5'9", "5'11", "5'8", "6'0", "5'6", "5'10", "6'1",
       "5'4", "6'3", "6'4", "5'5", "6'6", "6'5", "5'3", "5'2", "6'7",
       "5'1", "6'8"], dtype=object)

4.2. Write a function (`get_height`) which converts the Height from a string in feet to  a number in `cm` with no decimals.    
1 feet = 30.48 cm. For example `get_height("5'10")` = `155`

In [60]:
def get_height(x):
    return  round(float(x.replace("'", ".")) * 30.48, 0)
"""
This function doesn't convert the inch values correctly.
    I am going to keep it because the notebook requires it. However,
    Here is my version :
def get_height(x):
    ret = 0
    l = x.split("'")
    ret += float(l[0]) * 30.48
    ret += float(l[1]) * 2.54
    return round(ret)
"""

'\nThis function doesn\'t convert the inch values correctly.\n    I am going to keep it because the notebook requires it. However,\n    Here is my version :\ndef get_height(x):\n    ret = 0\n    l = x.split("\'")\n    ret += float(l[0]) * 30.48\n    ret += float(l[1]) * 2.54\n    return round(ret)\n'

In [62]:
# check if your answer is correct
assert get_height("5'10") == 155; assert get_height("6'8") == 207

Apply the previous defined function on `Height`

In [63]:
df['Height'] = df['Height'].apply(get_height)

In [64]:
# check if your answer is correct
assert df['Height'].dtype == 'float64'; assert df['Height'].isnull().sum() == 0

4.3. The same thing with `Weight`, print the unique values

In [65]:
# print unique values for Weight
df['Weight'].unique()

array(['159lbs', '183lbs', '150lbs', '154lbs', '163lbs', '146lbs',
       '190lbs', '181lbs', '176lbs', '168lbs', '172lbs', '148lbs',
       '165lbs', '196lbs', '161lbs', '170lbs', '187lbs', '157lbs',
       '185lbs', '130lbs', '174lbs', '203lbs', '207lbs', '134lbs',
       '141lbs', '152lbs', '179lbs', '132lbs', '198lbs', '201lbs',
       '209lbs', '214lbs', '143lbs', '192lbs', '137lbs', '194lbs',
       '139lbs', '220lbs', '205lbs', '216lbs', '126lbs', '123lbs',
       '128lbs', '223lbs', '212lbs', '121lbs', '115lbs', '218lbs',
       '117lbs', '243lbs', '110lbs', '119lbs', '234lbs'], dtype=object)

4.4. Write a function (`get_weight`) which converts the **Weight** from a string in `lbs` to a number in `kg` with no decimals.    
1 lbs = 0.453592 kg. For example `get_weight("115lbs")` = `52`

In [66]:
def get_weight(x):
    return  round(float(x.split('lbs')[0]) * 0.453592, 0)

In [67]:
# check if your answer is correct
assert get_weight("115lbs") == 52; assert get_weight("234lbs") == 106

Apply the previous defined function on `Weight`

In [68]:
df['Weight'] = df['Weight'].apply(get_weight)

In [69]:
# check if your answer is correct
assert df['Weight'].dtype == 'float64'; assert df['Weight'].isnull().sum() == 0

## Convert text columns to numeric

5.1. Identify non-numeric text columns in a list called `text_cols`

In [73]:
types = list(df.dtypes == 'object')
text_cols = list(col for i,col in enumerate(list(df.columns)) if types[i])
print(text_cols)
# your code here
print(len(text_cols))

['Preferred Foot', 'Work Rate', 'Body Type', 'Position', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM', 'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB']
30

5.2. Build a list named `cols_to_remove` containing columns from `text_cols`, if a column has a number of unique values greater than **10** (`> 10`)

In [76]:
cols_to_remove = [col for col in text_cols if len(df[col].unique()) > 10]
# your code here
print(len(cols_to_remove))

27

remove `cols_to_remove` columns from `df` and print its shape

In [78]:
# your code here
df.drop(labels=cols_to_remove, axis=1, inplace=True)

In [79]:
# check if your answer is correct
assert df.shape == (14743, 50)

5.3. Identify the remaining text columns in `text_cols` as `remaining_text_cols`, make sur it passes the test after

In [80]:
# your code here
remaining_text_cols = [col for col in text_cols if col not in cols_to_remove]

print(len(remaining_text_cols))

3

In [81]:
# check if your answer is correct
assert remaining_text_cols == ['Preferred Foot', 'Work Rate', 'Body Type']

5.4. Loop through `remaining_text_cols` and convert them to numerical values

In [82]:
# your code here
# Loop through the column names
for col in remaining_text_cols:
    # Convert the possible values to dummy variables
    for value in df[col].unique():
        dummy_name = col + "_" + value
        df[dummy_name] = (df[col] == value).astype("int")

In [86]:
df.shape

(14743, 70)

# Model building

As stated before, you can do this part without completing the previous one

6.1. Load the cleaned dataset `Assignment_2_data_cleaned.csv` into `df_clean` and print its shape.

In [87]:
# your code here
df_clean = pd.read_csv("Assignment_2_data_cleaned.csv", header=0, index_col=0)

6.2. Load the target variable `Overall` into a dataframe and name it `y`. Then, load the features into a second dataframe and name it `X`. Plot a histogram of `y`, choose the number of bins as 100.

In [89]:
# your code here
y = df_clean.Overall
X = df_clean.drop(labels=["Overall"], axis=1)

7. Split the data set into a training set and a test set. Choose `test_size` = 0.3 and `random_state` = 123  
Print train and test size      
**Attention**: You are asked to use  [`sklearn.model_selection`](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

In [91]:
# your code here
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y,\
                                            test_size=0.3, random_state=123)

8. Fit a linear model to the training set, and then report the training and testing errors obtained (the R2 statistic).   
Calculate and print the following metrics: mse, rmse, mae for the test_set

In [92]:
# your code here
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)

R2 = model.score(X_test, y_test)
print("R2 score : ", R2)

R2 score :  0.9053913285970917

In [ ]:
# your code here

### Check residuals

9.1. Plot a histogram of the residuals (difference between `y_test` and `y_pred`

In [ ]:
# your code here

9.2. Plot a scatter plot where `y_test` is in the **x** axis and  `y_pred` is in the **y** axis

In [ ]:
# your code here

10. Try to improve the performance of your model, by adding new features

In [ ]:
# your code here